altgraph==0.17.4
archspec==0.2.5
astc-encoder-py==0.1.12
attrs==25.3.0
Brotli==1.1.0
etcpak==0.9.15
fsspec==2025.9.0
lz4==4.4.4
packaging==25.0
pillow==11.3.0
pyfmodex==0.7.2
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.8
setuptools==80.9.0
texture2ddecoder==1.0.5
TypeTreeGeneratorAPI==0.0.6
UnityPy==1.23.0
